@using System.Globalization

@model IEnumerable<IndiceCuentasViewModel>

@{
    ViewBag.Title = "Cuentas";

    string FormatearBalance(decimal balance)
    {
        // return balance.ToString("C");
        //return Math.Abs(balance).ToString("C", new CultureInfo("es-ES"));
        return balance.ToString("C", new CultureInfo("es-ES"));
    }

    string ObtenerClaseBalance(decimal balance)
    {
        return balance >= 0 ? "active" : "pasive";
    }
}

<h1>Cuentas</h1>

<a asp-action="Crear" class="btn btn-primary mb-3">Crear Nuevo</a>

<div class="contenedor-totales mb-3">
    <div>
        <div>
            <strong>Activos</strong>
        </div>
        <div class="active">
            @FormatearBalance(Model.Where(x=>x.TotalBalance>0).Sum(x=>x.TotalBalance))
        </div>
    </div>
    <div>
        <div>
            <strong>Pasivos</strong>
        </div>
        <div class="pasive">
            @FormatearBalance(Model.Where(x=>x.TotalBalance<0).Sum(x=>x.TotalBalance))
        </div>
    </div>

    <div>
        <div>
            <strong>Total</strong>
        </div>
        <div>
            @FormatearBalance(Model.Sum(x=>x.TotalBalance))
        </div>
    </div>
</div>
<div class="accordion-body acordeon-cuenta">
    @foreach (var tipoCuenta in Model)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="cabeceraUno">
                @{
                    var id = tipoCuenta.TipoCuenta.Replace(" ", "");
                    var dataBSTarget = "#" + id;
                    var claseTipoCuenta = ObtenerClaseBalance(tipoCuenta.TotalBalance);
                }
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@dataBSTarget">
                    <span class="me-3">
                        <span>
                            <strong>@tipoCuenta.TipoCuenta</strong>
                        </span>
                        <span class="@claseTipoCuenta">@FormatearBalance(tipoCuenta.TotalBalance)</span>
                    </span>
                </button>
            </h2>
            <div id="@id" class="accordion-collapse collapse show">
                <div>
                    <ul class="list-group">
                        @foreach (var cuenta in tipoCuenta.Cuentas)
                        {
                            var claseCuenta = ObtenerClaseBalance(cuenta.Balance);
                            <li class="list-group-item">
                                <span>
                                    <strong>
                                        @cuenta.Nombre
                                    </strong>
                                    <a class="btn-primary btn" asp-action="Editar" asp-route-id="@cuenta.Id"><i class="bi-pencil-fill"></i></a>
                                    <a class="btn-danger btn" asp-action="Borrar" asp-route-id="@cuenta.Id"><i class="bi-trash-fill"></i></a>
                                </span>
                                <span class="@claseCuenta">
                                    @FormatearBalance(cuenta.Balance)
                                </span>

                            </li>
                        }
                    </ul>
                </div>
            </div>

        </div>
    }
</div>
